swagger: '2.0'
info:
  title: Open Bank Project API
  description: An Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL and commercial licences.
  contact:
    name: TESOBE Ltd. / Open Bank Project
    url: 'https://openbankproject.com'
    email: contact@tesobe.com
  version: v2_0_0
host: apisandbox.openbankproject.com
basePath: /
schemes:
  - http
  - https
securityDefinitions:
  directLogin:
    type: apiKey
    description: 'https://github.com/OpenBankProject/OBP-API/wiki/Direct-Login'
    in: header
    name: Authorization
  gatewayLogin:
    type: apiKey
    description: 'https://github.com/OpenBankProject/OBP-API/wiki/Gateway-Login'
    in: header
    name: Authorization
security:
  - directLogin: []
    gatewayLogin: []
paths:
  /obp/v2.0.0/accounts:
    get:
      tags:
        - Account
        - PrivateData
        - PublicData
      summary: Get all Accounts at all Banks.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Get all accounts at all banks the User has access to (Authenticated + Anonymous access). Returns the list of accounts at that the user has access to at all banks. For each account the API returns the account ID and the available views.</p><p>If the user is not authenticated via OAuth, the list will contain only the accounts providing public views. If the user is authenticated, the list will contain Private accounts to which the user has access, in addition to all public accounts.</p><p>Authentication is Optional</p>'
      operationId: v2_0_0-allAccountsAllBanks
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BasicAccountsJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUnknownError'
  /obp/v2.0.0/accounts/public:
    get:
      tags:
        - Account
        - PublicData
      summary: Get Public Accounts at all Banks.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Get public accounts at all banks (Anonymous access). Returns accounts that contain at least one public view (a view where is_public is true) For each account the API returns the ID and the available views.</p><p>Authentication is Optional</p>
      operationId: v2_0_0-publicAccountsAllBanks
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BasicAccountsJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v2.0.0/banks:
    get:
      tags:
        - Bank
      summary: Get Banks
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Get banks on this API instance Returns a list of banks supported on this server:</p><ul>  <li>ID used as parameter in URLs</li>  <li>Short and full name of bank</li>  <li>Logo URL</li>  <li>Website</li></ul>'
      operationId: v1_2_1-getBanks
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BanksJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUnknownError'
  '/obp/v2.0.0/banks/{BANK_ID}':
    get:
      tags:
        - Bank
      summary: Get Bank
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Get the bank specified by BANK_ID Returns information about a single bank specified by BANK_ID including:</p><ul>  <li>Short and full name of bank</li>  <li>Logo URL</li>  <li>Website</li></ul>'
      operationId: v1_2_1-bankById
      parameters:
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BankJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts':
    get:
      tags:
        - Account
        - PrivateData
        - PublicData
      summary: Get Accounts at Bank (inc. Public).
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Get accounts at one bank that the user has access to (Authenticated + Anonymous access). Returns the list of accounts at BANK_ID that the user has access to. For each account the API returns the account ID and the available views.</p><p>If the user is not authenticated, the list will contain only the accounts providing public views. Authentication is Optional</p>'
      operationId: v2_0_0-allAccountsAtOneBank
      parameters:
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BasicAccountsJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}':
    post:
      tags:
        - Account
        - CounterpartyMetaData
      summary: Update Account Label.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Update the label for the account. The label is how the account is known to the account owner e.g. 'My savings account' </p>
      operationId: v1_2_1-updateAccountLabel
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/UpdateAccountJSON'
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorInvalidJsonFormat'
    put:
      tags:
        - Account
      summary: Create Account
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Create Account at bank specified by BANK_ID with Id specified by ACCOUNT_ID.</p><p>The User can create an Account for themself or an Account for another User if they have CanCreateAccount role.</p><p>If USER_ID is not specified the account will be owned by the logged in User.</p><p>Note: The Amount must be zero.</p>'
      operationId: v2_0_0-createAccount
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/CreateAccountJSON'
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CoreAccountJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/account':
    get:
      tags:
        - Account
      summary: Get Account by Id (Full)
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Information returned about an account specified by ACCOUNT_ID as moderated by the view (VIEW_ID):</p><ul>  <li>Number</li>  <li>Owners</li>  <li>Type</li>  <li>Balance</li>  <li>IBAN</li>  <li>Available views (sorted by short_name)</li></ul><p>More details about the data moderation by the view <a href="#1_2_1-getViewsForBankAccount">here</a>.</p><p>PSD2 Context: PSD2 requires customers to have access to their account information via third party applications. This call provides balance and other account information via delegated authenticaiton using OAuth.</p><p>OAuth authentication is required if the ''is_public'' field in view (VIEW_ID) is not set to <code>true</code>.</p>'
      operationId: v2_0_0-accountById
      parameters:
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModeratedAccountJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts':
    get:
      tags:
        - Counterparty
        - Account
      summary: Get Other Accounts of one Account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Returns data about all the other accounts that have shared at least one transaction with the ACCOUNT_ID at BANK_ID. Authentication is Optional Authentication is required if the view VIEW_ID is not public.</p>
      operationId: v1_2_1-getOtherAccountsForBankAccount
      parameters:
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OtherAccountsJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}':
    get:
      tags:
        - Counterparty
        - Account
      summary: Get Other Account by Id.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Returns data about the Other Account that has shared at least one transaction with ACCOUNT_ID at BANK_ID. Authentication is Optional Authentication is required if the view is not public.</p>
      operationId: v1_2_1-getOtherAccountByIdForBankAccount
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OtherAccountJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata':
    get:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Get Other Account Metadata.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Get metadata of one other account. Returns only the metadata about one other bank account (OTHER_ACCOUNT_ID) that had shared at least one transaction with ACCOUNT_ID at BANK_ID.</p><p>Authentication via OAuth is required if the view is not public.</p>
      operationId: v1_2_1-getOtherAccountMetadata
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OtherAccountMetadataJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/corporate_location':
    delete:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Delete Counterparty Corporate Location.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Delete corporate location of other bank account. Delete the geolocation of the counterparty's registered address</p>
      operationId: v1_2_1-deleteCounterpartyCorporateLocation
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Add Corporate Location to Counterparty
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Add the geolocation of the counterparty's registered address</p>
      operationId: v1_2_1-addCounterpartyCorporateLocation
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/CorporateLocationJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    put:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Update Counterparty Corporate Location
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Update the geolocation of the counterparty's registered address</p>
      operationId: v1_2_1-updateCounterpartyCorporateLocation
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/CorporateLocationJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/image_url':
    delete:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Delete Counterparty Image URL
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Delete image url of other bank account.</p>
      operationId: v1_2_1-deleteCounterpartyImageUrl
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUnknownError'
    post:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Add image url to other bank account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Add a url that points to the logo of the counterparty</p>
      operationId: v1_2_1-addCounterpartyImageUrl
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/ImageUrlJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    put:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Update Counterparty Image Url
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Update the url that points to the logo of the counterparty</p>
      operationId: v1_2_1-updateCounterpartyImageUrl
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/ImageUrlJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/more_info':
    delete:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Delete more info of other bank account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: ''
      operationId: v1_2_1-deleteCounterpartyMoreInfo
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Add Counterparty More Info
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Add a description of the counter party from the perpestive of the account e.g. My dentist.</p>
      operationId: v1_2_1-addCounterpartyMoreInfo
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/MoreInfoJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    put:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Update Counterparty More Info
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Update the more info description of the counter party from the perpestive of the account e.g. My dentist.</p>
      operationId: v1_2_1-updateCounterpartyMoreInfo
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/MoreInfoJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/open_corporates_url':
    delete:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Delete Counterparty Open Corporates URL
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Delete open corporate url of other bank account.</p>
      operationId: v1_2_1-deleteCounterpartyOpenCorporatesUrl
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Add Open Corporates URL to Counterparty
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Add open corporates url to other bank account.</p>
      operationId: v1_2_1-addCounterpartyOpenCorporatesUrl
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/OpenCorporateUrlJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
    put:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Update Open Corporates Url of Counterparty
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Update open corporate url of other bank account.</p>
      operationId: v1_2_1-updateCounterpartyOpenCorporatesUrl
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/OpenCorporateUrlJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/physical_location':
    delete:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Delete Counterparty Physical Location.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Delete physical location of other bank account.</p>
      operationId: v1_2_1-deleteCounterpartyPhysicalLocation
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Add physical location to other bank account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Add geocoordinates of the counterparty's main location</p>
      operationId: v1_2_1-addCounterpartyPhysicalLocation
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/PhysicalLocationJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    put:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Update Counterparty Physical Location
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Update geocoordinates of the counterparty's main location</p>
      operationId: v1_2_1-updateCounterpartyPhysicalLocation
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/PhysicalLocationJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/url':
    delete:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Delete url of other bank account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: ''
      operationId: v1_2_1-deleteCounterpartyUrl
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Add url to other bank account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>A url which represents the counterparty (home page url etc.)</p>
      operationId: v1_2_1-addCounterpartyUrl
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/UrlJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    put:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Update url of other bank account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>A url which represents the counterparty (home page url etc.)</p>
      operationId: v1_2_1-updateCounterpartyUrl
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/UrlJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/private_alias':
    delete:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Delete Counterparty Private Alias
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Deletes the private alias of the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>
      operationId: v1_2_1-deleteCounterpartyPrivateAlias
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    get:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Get Other Account Private Alias
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Returns the private alias of the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>
      operationId: v1_2_1-getOtherAccountPrivateAlias
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AliasJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Create Other Account Private Alias
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Creates a private alias for the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>
      operationId: v1_2_1-addOtherAccountPrivateAlias
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/AliasJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    put:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Update Counterparty Private Alias
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Updates the private alias of the counterparty (AKA other account) OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>
      operationId: v1_2_1-updateCounterpartyPrivateAlias
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/AliasJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/public_alias':
    delete:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Delete Counterparty Public Alias
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Deletes the public alias of the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>
      operationId: v1_2_1-deleteCounterpartyPublicAlias
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
    get:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Get public alias of other bank account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Returns the public alias of the other account OTHER_ACCOUNT_ID. Authentication is Optional OAuth authentication is required if the view is not public.</p>
      operationId: v1_2_1-getCounterpartyPublicAlias
      parameters:
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AliasJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
    post:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Add public alias to other bank account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Creates the public alias for the other account OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p><p>Note: Public aliases are automatically generated for new ''other accounts / counterparties'', so this call should only be used if the public alias was deleted.</p><p>The VIEW_ID parameter should be a view the caller is permitted to access to and that has permission to create public aliases.</p>'
      operationId: v1_2_1-addCounterpartyPublicAlias
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/AliasJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
    put:
      tags:
        - CounterpartyMetaData
        - Counterparty
      summary: Update public alias of other bank account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Updates the public alias of the other account / counterparty OTHER_ACCOUNT_ID.</p><p>Authentication is Optional Authentication is required if the view is not public.</p>
      operationId: v1_2_1-updateCounterpartyPublicAlias
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/AliasJSON'
        - in: path
          name: OTHER_ACCOUNT_ID
          description: The other account id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types':
    get:
      tags:
        - TransactionRequest
      summary: Get Transaction Request Types for Account
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns the Transation Request Types that the account specified by ACCOUNT_ID and view specified by VIEW_ID has access to.</p><p>These are the ways this API Server can create a Transaction via a Transaction Request (as opposed to Transaction Types which include external types too e.g. for Transactions created by core banking etc.)</p><p>A Transaction Request Type internally determines:</p><ul>  <li>the required Transaction Request ''body'' i.e. fields that define the ''what'' and ''to'' of a Transaction Request,</li>  <li>the type of security challenge that may be be raised before the Transaction Request proceeds, and</li>  <li>the threshold of that challenge.</li></ul><p>For instance in a ''SANDBOX_TAN'' Transaction Request, for amounts over 1000 currency units, the user must supply a positive integer to complete the Transaction Request and create a Transaction.</p><p>This approach aims to provide only one endpoint for initiating transactions, and one that handles challenges, whilst still allowing flexibility with the payload and internal logic.</p>'
      operationId: v1_4_0-getTransactionRequestTypes
      parameters:
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransactionRequestTypesJsonV140'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types/{TRANSACTION_REQUEST_TYPE}/transaction-requests':
    post:
      tags:
        - TransactionRequest
      summary: Create Transaction Request.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Initiate a Payment via a Transaction Request.</p><p>This is the preferred method to create a payment and supersedes makePayment in 1.2.1.</p><p>PSD2 Context: Third party access access to payments is a core tenent of PSD2.</p><p>This call satisfies that requirement from several perspectives:</p><p>1) A transaction can be initiated by a third party application.</p><p>2) The customer is informed of the charge that will incurred.</p><p>3) The call uses delegated authentication (OAuth)</p><p>See <a href="https://github.com/OpenBankProject/Hello-OBP-DirectLogin-Python/blob/master/hello_payments.py">this python code</a> for a complete example of this flow.</p><p>In sandbox mode, if the amount is less than 100 (any currency), the transaction request will create a transaction without a challenge, else the Transaction Request will be set to INITIALISED and a challenge will need to be answered.| If a challenge is created you must answer it using Answer Transaction Request Challenge before the Transaction is created.</p><p>You can transfer between different currency accounts. (new in 2.0.0). The currency in body must match the sending account.</p><p>Currently TRANSACTION_REQUEST_TYPE must be set to SANDBOX_TAN</p><p>The following static FX rates are available in sandbox mode:</p><p>{  "XAF":{  "AUD":1.0,  "KRW":1.87975,  "JOD":1.0,  "GBP":0.00131092,  "AED":0.00601555,  "INR":0.110241,  "JPY":0.185328,  "USD":0.00163773,  "EUR":0.00152449  },  "AUD":{  "XAF":762.826,  "KRW":1433.92,  "JOD":1.0,  "AED":4.58882,  "INR":84.095,  "JPY":141.373,  "USD":0.79,  "EUR":0.67  },  "KRW":{  "XAF":0.531986,  "AUD":1.0,  "JOD":1.0,  "GBP":6.97389E-4,  "AED":0.00320019,  "INR":0.0586469,  "JPY":0.0985917,  "USD":8.7125E-4,  "EUR":8.11008E-4  },  "JOD":{  "XAF":1.0,  "AUD":1.0,  "KRW":1.0,  "GBP":1.0,  "AED":1.0,  "INR":1.0,  "JPY":1.0,  "USD":1.0,  "EUR":1.0  },  "GBP":{  "XAF":762.826,  "AUD":1.0,  "KRW":1433.92,  "JOD":1.0,  "AED":4.58882,  "INR":84.095,  "JPY":141.373,  "USD":1.2493,  "EUR":1.16278  },  "AED":{  "XAF":166.236,  "AUD":1.0,  "KRW":312.482,  "GBP":0.217921,  "AED":1.0,  "INR":18.3255,  "JPY":30.8081,  "USD":0.27225,  "EUR":0.253425  },  "INR":{  "XAF":9.07101,  "AUD":1.0,  "KRW":17.0512,  "JOD":1.0,  "GBP":0.0118913,  "AED":0.0545671,  "JPY":1.68111,  "USD":0.0148559,  "EUR":0.0138287  },  "JPY":{  "XAF":5.39585,  "AUD":1.0,  "KRW":10.1428,  "JOD":1.0,  "GBP":0.0070735,  "AED":0.032459,  "INR":0.594846,  "USD":0.00883695,  "EUR":0.00822592  },  "USD":{  "XAF":610.601,  "AUD":1.0,  "KRW":1147.78,  "JOD":1.0,  "GBP":0.800446,  "AED":3.6731,  "INR":67.3135,  "JPY":113.161,  "EUR":0.930886  },  "EUR":{  "XAF":655.957,  "AUD":1.0,  "KRW":1233.03,  "JOD":1.0,  "GBP":0.860011,  "AED":3.94594,  "INR":72.3136,  "JPY":121.567,  "USD":1.07428  } }</p><p>The payer is set in the URL. Money comes out of the BANK_ID and ACCOUNT_ID specified in the URL</p><p>The payee is set in the request body. Money goes into the BANK_ID and ACCOUNT_IDO specified in the request body.</p><p>Authentication is Mandatory</p>'
      operationId: v2_0_0-createTransactionRequest
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/TransactionRequestBodyJsonV200'
        - in: path
          name: TRANSACTION_REQUEST_TYPE
          description: The transaction request type
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types/{TRANSACTION_REQUEST_TYPE}/transaction-requests/{TRANSACTION_REQUEST_ID}/challenge':
    post:
      tags:
        - TransactionRequest
      summary: Answer Transaction Request Challenge.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>In Sandbox mode, any string that can be converted to a positive integer will be accepted as an answer.</p>'
      operationId: v2_0_0-answerTransactionRequestChallenge
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/ChallengeAnswerJSON'
        - in: path
          name: TRANSACTION_REQUEST_ID
          description: The transaction request id
          required: true
          type: string
        - in: path
          name: TRANSACTION_REQUEST_TYPE
          description: The transaction request type
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/TransactionRequestWithChargeJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-requests':
    get:
      tags:
        - TransactionRequest
      summary: Get Transaction Requests.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns transaction requests for account specified by ACCOUNT_ID at bank specified by BANK_ID.</p><p>The VIEW_ID specified must be ''owner'' and the user must have access to this view.</p><p>Version 2.0.0 now returns charge information.</p><p>Transaction Requests serve to initiate transactions that may or may not proceed. They contain information including:</p><ul>  <li>Transaction Request Id</li>  <li>Type</li>  <li>Status (INITIATED, COMPLETED)</li>  <li>Challenge (in order to confirm the request)</li>  <li>From Bank / Account</li>  <li>Body including To Account, Currency, Value, Description and other initiation information. (Could potentialy include a list of future transactions.)</li>  <li>Related Transactions</li></ul><p>PSD2 Context: PSD2 requires transparency of charges to the customer. This endpoint provides the charge that would be applied if the Transaction Request proceeds - and a record of that charge there after. The customer can proceed with the Transaction by answering the security challenge.</p>'
      operationId: v2_0_0-getTransactionRequests
      parameters:
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransactionRequestWithChargesJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions':
    get:
      tags:
        - Transaction
        - Account
      summary: Get Transactions for Account (Full)
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns transactions list of the account specified by ACCOUNT_ID and <a href="#1_2_1-getViewsForBankAccount">moderated</a> by the view (VIEW_ID).</p><p>Authentication via OAuth is required if the view is not public.</p><p>Possible custom headers for pagination:</p><ul>  <li>obp_sort_by=CRITERIA ==&gt; default value: "completed" field</li>  <li>obp_sort_direction=ASC/DESC ==&gt; default value: DESC</li>  <li>obp_limit=NUMBER ==&gt; default value: 50</li>  <li>obp_offset=NUMBER ==&gt; default value: 0</li>  <li>obp_from_date=DATE =&gt; default value: date of the oldest transaction registered (format below)</li>  <li>obp_to_date=DATE =&gt; default value: date of the newest transaction registered (format below)</li></ul><p><strong>Date format parameter</strong>: "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" (2014-07-01T00:00:00.000Z) ==&gt; time zone is UTC.</p>'
      operationId: v1_2_1-getTransactionsForBankAccount
      parameters:
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransactionsJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/comments':
    get:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Get comments.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns the transaction TRANSACTION_ID comments made on a <a href="#1_2_1-getViewsForBankAccount">view</a> (VIEW_ID).</p><p>Authentication via OAuth is required if the view is not public.</p>'
      operationId: v1_2_1-getCommentsForViewOnTransaction
      parameters:
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransactionCommentsJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Add comment.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Posts a comment about a transaction TRANSACTION_ID on a <a href="#1_2_1-getViewsForBankAccount">view</a> VIEW_ID.</p><p>${authenticationRequiredMessage(false)}</p><p>Authentication is required since the comment is linked with the user.</p>'
      operationId: v1_2_1-addCommentForViewOnTransaction
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/PostTransactionCommentJSON'
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/TransactionCommentJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/comments/{COMMENT_ID}':
    delete:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Delete comment.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Delete the comment COMMENT_ID about the transaction TRANSACTION_ID made on <a href="#1_2_1-getViewsForBankAccount">view</a>.</p><p>Authentication via OAuth is required. The user must either have owner privileges for this account, or must be the user that posted the comment.</p>'
      operationId: v1_2_1-deleteCommentForViewOnTransaction
      parameters:
        - in: path
          name: COMMENT_ID
          description: The comment id
          required: true
          type: string
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/images':
    get:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Get images.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns the transaction TRANSACTION_ID images made on a <a href="#1_2_1-getViewsForBankAccount">view</a> (VIEW_ID).  Authentication via OAuth is required if the view is not public.</p>'
      operationId: v1_2_1-getImagesForViewOnTransaction
      parameters:
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransactionImagesJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Add an image.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Posts an image about a transaction TRANSACTION_ID on a <a href="#1_2_1-getViewsForBankAccount">view</a> VIEW_ID.</p><p>Authentication is Mandatory</p><p>The image is linked with the user.</p>'
      operationId: v1_2_1-addImageForViewOnTransaction
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/PostTransactionImageJSON'
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/TransactionImageJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorInvalidJsonFormat'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/images/{IMAGE_ID}':
    delete:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Delete an image
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Deletes the image IMAGE_ID about the transaction TRANSACTION_ID made on <a href="#1_2_1-getViewsForBankAccount">view</a>.</p><p>Authentication via OAuth is required. The user must either have owner privileges for this account, or must be the user that posted the image.</p>'
      operationId: v1_2_1-deleteImageForViewOnTransaction
      parameters:
        - in: path
          name: IMAGE_ID
          description: The image id
          required: true
          type: string
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/narrative':
    delete:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Delete narrative.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Deletes the description of the transaction TRANSACTION_ID.</p><p>Authentication via OAuth is required if the view is not public.</p>
      operationId: v1_2_1-deleteTransactionNarrative
      parameters:
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    get:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Get narrative.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns the account owner description of the transaction <a href="#1_2_1-getViewsForBankAccount">moderated</a> by the view.</p><p>Authentication via OAuth is required if the view is not public.</p>'
      operationId: v1_2_1-getTransactionNarrative
      parameters:
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransactionNarrativeJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
    post:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Add narrative.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Creates a description of the transaction TRANSACTION_ID.</p><p>Note: Unlike other items of metadata, there is only one "narrative" per transaction accross all views. If you set narrative via a view e.g. view-x it will be seen via view-y (as long as view-y has permission to see the narrative).</p><p>Authentication is Optional Authentication is required if the view is not public.</p>'
      operationId: v1_2_1-addTransactionNarrative
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/TransactionNarrativeJSON'
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorInvalidJsonFormat'
    put:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Update narrative.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Updates the description of the transaction TRANSACTION_ID.</p><p>Authentication via OAuth is required if the view is not public.</p>
      operationId: v1_2_1-updateTransactionNarrative
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/TransactionNarrativeJSON'
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorInvalidJsonFormat'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/tags':
    get:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Get tags.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns the transaction TRANSACTION_ID tags made on a <a href="#1_2_1-getViewsForBankAccount">view</a> (VIEW_ID).  Authentication via OAuth is required if the view is not public.</p>'
      operationId: v1_2_1-getTagsForViewOnTransaction
      parameters:
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransactionTagJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
    post:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Add a tag.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Posts a tag about a transaction TRANSACTION_ID on a <a href="#1_2_1-getViewsForBankAccount">view</a> VIEW_ID.</p><p>Authentication is Mandatory</p><p>Authentication is required as the tag is linked with the user.</p>'
      operationId: v1_2_1-addTagForViewOnTransaction
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/PostTransactionTagJSON'
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/TransactionTagJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/tags/{TAG_ID}':
    delete:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Delete a tag.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Deletes the tag TAG_ID about the transaction TRANSACTION_ID made on <a href="#1_2_1-getViewsForBankAccount">view</a>.</p><p>Authentication via OAuth is required. The user must either have owner privileges for this account, or must be the user that posted the tag.</p>'
      operationId: v1_2_1-deleteTagForViewOnTransaction
      parameters:
        - in: path
          name: TAG_ID
          description: The tag id
          required: true
          type: string
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUnknownError'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/metadata/where':
    delete:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Delete where tag.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Deletes the where tag of the transaction TRANSACTION_ID made on <a href="#1_2_1-getViewsForBankAccount">view</a>.</p><p>Authentication is Mandatory</p><p>The user must either have owner privileges for this account, or must be the user that posted the geo tag.</p>'
      operationId: v1_2_1-deleteWhereTagForViewOnTransaction
      parameters:
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    get:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Get where tag.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns the "where" Geo tag added to the transaction TRANSACTION_ID made on a <a href="#1_2_1-getViewsForBankAccount">view</a> (VIEW_ID). It represents the location where the transaction has been initiated.</p><p>Authentication via OAuth is required if the view is not public.</p>'
      operationId: v1_2_1-getWhereTagForViewOnTransaction
      parameters:
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransactionWhereJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
    post:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Add where tag.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Creates a "where" Geo tag on a transaction TRANSACTION_ID in a <a href="#1_2_1-getViewsForBankAccount">view</a>.</p><p>Authentication is Mandatory</p><p>The geo tag is linked with the user.</p>'
      operationId: v1_2_1-addWhereTagForViewOnTransaction
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/PostTransactionWhereJSON'
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    put:
      tags:
        - TransactionMetaData
        - Transaction
      summary: Update where tag.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Updates the "where" Geo tag on a transaction TRANSACTION_ID in a <a href="#1_2_1-getViewsForBankAccount">view</a>.</p><p>Authentication is Mandatory</p><p>The geo tag is linked with the user.</p>'
      operationId: v1_2_1-updateWhereTagForViewOnTransaction
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/PostTransactionWhereJSON'
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessMessage'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/other_account':
    get:
      tags:
        - Transaction
        - Counterparty
      summary: Get Other Account of Transaction
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Get other account of a transaction. Returns details of the other party involved in the transaction, moderated by the <a href="#1_2_1-getViewsForBankAccount">view</a> (VIEW_ID).  Authentication via OAuth is required if the view is not public.</p>'
      operationId: v1_2_1-getOtherAccountForTransaction
      parameters:
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OtherAccountJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transactions/{TRANSACTION_ID}/transaction':
    get:
      tags:
        - Transaction
        - Account
      summary: Get Transaction by Id.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns one transaction specified by TRANSACTION_ID of the account ACCOUNT_ID and <a href="#1_2_1-getViewsForBankAccount">moderated</a> by the view (VIEW_ID).</p><p>Authentication is Optional Authentication is required if the view is not public.</p>'
      operationId: v1_2_1-getTransactionByIdForBankAccount
      parameters:
        - in: path
          name: TRANSACTION_ID
          description: The transaction id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransactionJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankAccountNotFound'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/permissions':
    get:
      tags:
        - Account
        - User
        - View
        - Entitlement
      summary: Get access.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns the list of the permissions at BANK_ID for account ACCOUNT_ID, with each time a pair composed of the user and the views that he has access to.</p><p>OAuth authentication is required and the user needs to have access to the owner view.</p>'
      operationId: v2_0_0-getPermissionsForBankAccount
      parameters:
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PermissionsJSON'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/permissions/{PROVIDER_ID}/{USER_ID}':
    get:
      tags:
        - Account
        - View
      summary: Get Account access for User.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Returns the list of the views at BANK_ID for account ACCOUNT_ID that a USER_ID at their provider PROVIDER_ID has access to. All url parameters must be <a href="http://en.wikipedia.org/wiki/Percent-encoding">%-encoded</a>, which is often especially relevant for USER_ID and PROVIDER_ID.</p><p>Authentication is Mandatory</p><p>The user needs to have access to the owner view.</p>'
      operationId: v2_0_0-getPermissionForUserForBankAccount
      parameters:
        - in: path
          name: PROVIDER_ID
          description: The provider id
          required: true
          type: string
        - in: path
          name: USER_ID
          description: The user id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ViewsJSONV121'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/permissions/{PROVIDER_ID}/{USER_ID}/views':
    delete:
      tags:
        - Account
        - User
        - View
        - OwnerViewRequired
      summary: Revoke access to all Views on Account
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Revokes the user USER_ID at their provider PROVIDER_ID access to all the views at BANK_ID for account ACCOUNT_ID.</p><p>OAuth authentication is required and the user needs to have access to the owner view.</p>
      operationId: v1_2_1-removePermissionForUserForBankAccountForAllViews
      parameters:
        - in: path
          name: PROVIDER_ID
          description: The provider id
          required: true
          type: string
        - in: path
          name: USER_ID
          description: The user id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - Account
        - User
        - View
        - OwnerViewRequired
      summary: Grant User access to a list of views.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Grants the user USER_ID at their provider PROVIDER_ID access to a list of views at BANK_ID for account ACCOUNT_ID.</p><p>All url parameters must be <a href="http://en.wikipedia.org/wiki/Percent-encoding">%-encoded</a>, which is often especially relevant for USER_ID and PROVIDER_ID.</p><p>Authentication is Mandatory</p><p>The User needs to have access to the owner view.</p>'
      operationId: v1_2_1-addPermissionForUserForBankAccountForMultipleViews
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/ViewIdsJson'
        - in: path
          name: PROVIDER_ID
          description: The provider id
          required: true
          type: string
        - in: path
          name: USER_ID
          description: The user id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/ViewsJSONV121'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/permissions/{PROVIDER_ID}/{USER_ID}/views/{VIEW_ID}':
    delete:
      tags:
        - Account
        - User
        - View
        - Entitlement
        - OwnerViewRequired
      summary: Revoke access to one View.
      security:
        - directLogin: []
          gatewayLogin: []
      description: <p>Revokes the user USER_ID at their provider PROVIDER_ID access to the view VIEW_ID at BANK_ID for account ACCOUNT_ID.</p><p>Revoking a user access to a public view will return an error message.</p><p>OAuth authentication is required and the user needs to have access to the owner view.</p>
      operationId: v1_2_1-removePermissionForUserForBankAccountForOneView
      parameters:
        - in: path
          name: PROVIDER_ID
          description: The provider id
          required: true
          type: string
        - in: path
          name: USER_ID
          description: The user id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/EmptyClassJson'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - Account
        - User
        - View
        - OwnerViewRequired
      summary: Grant User access to View.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<p>Grants the user USER_ID at their provider PROVIDER_ID access to the view VIEW_ID at BANK_ID for account ACCOUNT_ID. All url parameters must be <a href="http://en.wikipedia.org/wiki/Percent-encoding">%-encoded</a>, which is often especially relevant for USER_ID and PROVIDER_ID.</p><p>OAuth authentication is required and the user needs to have access to the owner view.</p><p>Granting access to a public view will return an error message, as the user already has access.</p>'
      operationId: v1_2_1-addPermissionForUserForBankAccountForOneView
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/EmptyClassJson'
        - in: path
          name: PROVIDER_ID
          description: The provider id
          required: true
          type: string
        - in: path
          name: USER_ID
          description: The user id
          required: true
          type: string
        - in: path
          name: VIEW_ID
          description: The view id
          required: true
          type: string
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/ViewJSONV121'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  '/obp/v2.0.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/views':
    get:
      tags:
        - Account
        - View
      summary: Get Views for Account.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<h1>Views</h1><p>Views in Open Bank Project provide a mechanism for fine grained access control and delegation to Accounts and Transactions. Account holders use the ''owner'' view by default. Delegated access is made through other views for example ''accountants'', ''share-holders'' or ''tagging-application''. Views can be created via the API and each view has a list of entitlements.</p><p>Views on accounts and transactions filter the underlying data to redact certain fields for certain users. For instance the balance on an account may be hidden from the public. The way to know what is possible on a view is determined in the following JSON.</p><p><strong>Data:</strong> When a view moderates a set of data, some fields my contain the value <code>null</code> rather than the original value. This indicates either that the user is not allowed to see the original data or the field is empty.</p><p>There is currently one exception to this rule; the ''holder'' field in the JSON contains always a value which is either an alias or the real name - indicated by the ''is_alias'' field.</p><p><strong>Action:</strong> When a user performs an action like trying to post a comment (with POST API call), if he is not allowed, the body response will contain an error message.</p><p><strong>Metadata:</strong> Transaction metadata (like images, tags, comments, etc.) will appears <em>ONLY</em> on the view where they have been created e.g. comments posted to the public view only appear on the public view.</p><p>The other account metadata fields (like image_URL, more_info, etc.) are unique through all the views. Example, if a user edits the ''more_info'' field in the ''team'' view, then the view ''authorities'' will show the new value (if it is allowed to do it).</p><h1>All</h1><p><em>Optional</em></p><p>Returns the list of the views created for account ACCOUNT_ID at BANK_ID.</p><p>OAuth authentication is required and the user needs to have access to the owner view.</p>'
      operationId: v1_2_1-getViewsForBankAccount
      parameters:
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ViewsJSONV121'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
        - Account
        - View
      summary: Create View.
      security:
        - directLogin: []
          gatewayLogin: []
      description: '<h1>Create a view on bank account</h1><p>OAuth authentication is required and the user needs to have access to the owner view.  The ''alias'' field in the JSON can take one of three values:</p><ul>  <li><em>public</em>: to use the public alias if there is one specified for the other account.</li>  <li><em>private</em>: to use the public alias if there is one specified for the other account.</li>  <li>  <p><em>''''(empty string)</em>: to use no alias; the view shows the real name of the other account.</p></li></ul><p>The ''hide_metadata_if_alias_used'' field in the JSON can take boolean values. If it is set to <code>true</code> and there is an alias on the other account then the other accounts'' metadata (like more_info, url, image_url, open_corporates_url, etc.) will be hidden. Otherwise the metadata will be shown.</p><p>The ''allowed_actions'' field is a list containing the name of the actions allowed on this view, all the actions contained will be set to <code>true</code> on the view creation, the rest will be set to <code>false</code>.</p>'
      operationId: v1_2_1-createViewForBankAccount
      parameters:
        - in: body
          name: body
          description: BANK_BODY
          required: true
          schema:
            $ref: '#/definitions/CreateViewJson'
        - in: path
          name: ACCOUNT_ID
          description: The account id
          required: true
          type: string
        - in: path
          name: BANK_ID
          description: The bank id
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/ViewJSONV121'
        '400':
          description: Error
          schema:
[...]
